body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

#deckgl-wrapper {
  height: 100vh;
}

.action-buttons {
  position: absolute;
  left: 50%;
  z-index: var(--z-index-react-flow);
  display: flex;
  flex-direction: row;
}

.not-found {
  text-align: center;
  margin: 0;
}
