build/
dist/
**/*.min.js
node_modules/
coverage/
.nyc_output/
.reify-cache/
__pycache__/
*.py[cod]
*$py.class

mapbox-token.js
TODO

yarn-error.log
package-lock.json

.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.project
.idea
.DS_Store
*.zip
*.rar
*.log
.exit_code

# Jupyter Notebook
.ipynb_checkpoints

# Yarn
.pnp.*
.yarn/*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.blend1

# vibe coding
.claude
.spec-workflow/
!.spec-workflow/specs